<div class="zopa">
  {{zopaHello}}



<button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
<i class="glyphicon glyphicon-plus">
</i> Add random item
</button>


<table st-table="rowCollection" class="table table-striped">
<thead>
	<tr>
	<th>first name</th>
	<th>last name</th>
	<th>birth date</th>
	<th>balance</th>
	<th>email</th>
	</tr>
<tr>
<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in rowCollection">
			<td>{{row.firstName}}</td>
			<td>{{row.lastName}}</td>
			<td>{{row.birthDate}}</td>
			<td>{{row.balance}}</td>
			<td>{{row.email}}</td>
<td>
<button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
<i class="glyphicon glyphicon-remove-circle">
</i>
</button>
</td>
		</tr>
	</tbody>
</table>
</div>
